html(ng-app='store')
    head
        title Gem Store
        link(rel='stylesheet', type='text/css', href='public/styles/main.css')
        script(src='/public/js/main.js')
    body(ng-controller='StoreController as store')
        ul(class='list-group')
            li(class='list-group-item', ng-repeat='product in store.products')
                h3 {{product.name}}
                    em(class='pull-right') {{product.price | currency}}
                div(class='gallery')
                    img(
                        class='img img-circle img-thumbnail center-block',
                        ng-src='{{"public/images/" + product.images[0].full}}')
                    ul(class='clearfix')
                        li(class="small-image pull-left thumbnail", ng-repeat="image in product.images")
                            img(ng-src='{{"public/images/" + image.thumb}}')
                section(ng-controller='PanelController as panel')
                    ul(class='nav nav-pills')
                        li(ng-class='{active:panel.is_selected(1)}')
                            a(href='', ng-click='panel.select_tab(1)') Description
                        li(ng-class='{active:panel.is_selected(2)}')
                            a(href='', ng-click='panel.select_tab(2)') Specifications
                        li(ng-class='{active:panel.is_selected(3)}')
                            a(href='', ng-click='panel.select_tab(3)') Reviews
                    div(class='panel', ng-show='panel.is_selected(1)')
                        h4 Description
                        p {{product.description}}
                    div(class='panel', ng-show='panel.is_selected(2)')
                        h4 Specifications
                        blockquote None Yet
                    div(class='panel', ng-show='panel.is_selected(3)')
                        h4 Reviews
                        blockquote None Yet
                button(ng-show='product.can_purchase') Add To Cart
