html(ng-app='store')
    head
        title Gem Store
        link(rel='stylesheet', type='text/css', href='public/styles/main.css')
        script(src='/public/js/main.js')
    body(ng-controller='StoreController as store')
        ul(class='list-group')
            li(class='list-group-item', ng-repeat='product in store.products')
                h3 {{product.name}}
                    em(class='pull-right') {{product.price | currency}}
                img(ng-src="{{'public/images/' + product.images[0].full}}")
                p {{product.description}}
                button(ng-show='product.can_purchase') Add To Cart
