html(ng-app='store')
    head
        title Gem Store
        link(rel='stylesheet', type='text/css', href='public/styles/main.css')
        script(src='/public/js/main.js')
    body
        div(ng-controller='StoreController as store')
            h1 {{store.product.name}}
            h2 {{store.product.price}}
            p {{store.product.description}}
            button(ng-show='store.product.can_purchase') Add To Cart
